* {
    background-color: #fae7cd;
    color:#2d9154;
    font-family: Georgia, Garamond, 'Times New Roman', serif;
}

h1 {
    color:#2d9154;
    font-weight: 100px;
    text-align: center;
    font-size: 42px;
}

ul,
ol,
.links {
    color:#2d9154;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-align: left;
    display: inline-block;
    list-style-position: inside;
}

img {
    height: auto;
    width: 215px;
    margin: auto;
    display: block;
}

h2,
p,
h3 {
    color:#2d9154;
    text-align:center;
    display: inline-block;
}

h2,
h3 {
    font-weight:bold;
}