* {
    background-color: #fae7cd;
}

h1 {
    color:#2d9154;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.list1
.links {
    color:#2d9154;
    text-align: center;
    box-align: center;
}

img {
    height: auto;
    width: 350px;
}